*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #121212;
}

header{
  height: 10vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}
header img{
  height: 8vh;
}

main{
  margin-top: 12vh;
  padding: 40px 80px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.album{
  margin: 10px;
  height: 45vh;
  width: calc(100% / 6 - 20px);
  background: #2A2A2A;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.album img{
  width: 100%;
}

.title{
  font-size: 20px;
  font-weight: 700;
}
